* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  background: #f0f2f5;
  color: #333;
}

.join-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  background-image: linear-gradient(
    80deg,
    hsl(240deg 86% 8%) 1%,
    hsl(241deg 84% 10%) 37%,
    hsl(241deg 83% 11%) 45%,
    hsl(242deg 82% 12%) 49%,
    hsl(243deg 83% 13%) 50%,
    hsl(248deg 85% 14%) 51%,
    hsl(253deg 90% 14%) 51%,
    hsl(258deg 96% 15%) 50%,
    hsl(261deg 100% 16%) 50%,
    hsl(260deg 100% 18%) 49%,
    hsl(259deg 100% 19%) 49%,
    hsl(258deg 100% 21%) 50%,
    hsl(257deg 100% 23%) 51%,
    hsl(256deg 100% 25%) 55%,
    hsl(254deg 100% 27%) 63%,
    hsl(253deg 100% 29%) 99%
  );

  .join-form {
    /* background-color: #fff; */
    background-image: linear-gradient(
    80deg,
    hsl(240deg 43% 24%) 0%,
    hsl(240deg 44% 25%) 7%,
    hsl(239deg 46% 26%) 13%,
    hsl(239deg 47% 26%) 20%,
    hsl(239deg 48% 27%) 27%,
    hsl(239deg 50% 28%) 33%,
    hsl(238deg 51% 29%) 40%,
    hsl(238deg 52% 29%) 47%,
    hsl(238deg 53% 30%) 53%,
    hsl(238deg 54% 31%) 60%,
    hsl(238deg 55% 32%) 67%,
    hsl(238deg 56% 32%) 73%,
    hsl(237deg 57% 33%) 80%,
    hsl(237deg 58% 34%) 87%,
    hsl(237deg 59% 35%) 93%,
    hsl(237deg 60% 35%) 100%
  );
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;

    h1 {
      margin-bottom: 1.5rem;
      color: #fff;
    }

    input {
      width: 100%;
      padding: 0.75rem;
      margin-bottom: 1rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 1rem;
    }

    button {
      width: 100%;
      padding: 0.75rem;
      background-color: #4a90e2;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #357abd;
      }
    }
  }
}

.editor-container {
  display: flex;
  height: 100vh;

  .sidebar {
    width: 250px;
    padding: 1.5rem;
    background-color: #0a0124;
    color: #ecf0f1;

    .room-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      h2 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }

      .copy-button {
        padding: 0.5rem 1rem;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #2980b9;
        }
      }

      .copy-success {
        margin-left: 0.5rem;
        color: rgb(38, 167, 38);
        font-size: 0.8rem;
      }
    }

    h3 {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }
    ul {
      list-style: none;
      li {
        padding: 0.5rem;
        font-size: 0.9rem;
        background: #f1e45b;
        color: black;
        margin-top: 5px;
        border-radius: 5px;
      }
    }

    .typing-indicator {
      margin-top: 1rem;
      font-size: 1rem;
      color: white;
    }

    .language-selector {
      margin-top: 1rem;
      width: 100%;
      padding: 0.5rem;
      background-color: #34495e;
      color: white;
      border: none;
      border-radius: 4px;
    }

    .leave-button {
      margin-top: 1rem;
      width: 100%;
      padding: 0.75rem;
      background-color: #e74c3c;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ab2a1c;
      }
    }
  }

  .editor-wrapper {
    flex-grow: 1;
    background-color: #fff;
  }
}

.run-btn {
  background-color: rgb(12, 209, 38);
  padding: 10px;
}

.output-console {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  height: 200px;
  /* background-color: #0a0124; */
}
